{{ ansible_managed | comment(decoration="; ") }}
[wordpress]

listen = /run/php/php7.4-fpm-wordpress.sock

user = www-data
group = www-data

listen.owner = www-data
listen.group = www-data
listen.mode = 0660

pm = {{ pool.pm }}
pm.max_children = {{ pool.pm_max_children }}
pm.start_servers = {{ pool.pm_start_servers }}
pm.min_spare_servers = {{ pool.pm_min_spare_servers }}
pm.max_spare_servers = {{ pool.pm_max_spare_servers }}

php_admin_value[upload_max_filesize] = 15M
php_admin_value[post_max_size] = 20M
